# ── PostgreSQL ───────────────────────────────────────────────────────
DB_HOST=postgres
DB_PORT=5432
DB_NAME=paymentgateway
DB_USERNAME=paymentgateway
DB_PASSWORD=paymentgateway

# ── Redis ────────────────────────────────────────────────────────────
REDIS_HOST=redis
REDIS_PORT=6379

# ── RabbitMQ ─────────────────────────────────────────────────────────
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
RABBITMQ_USERNAME=paymentgateway
RABBITMQ_PASSWORD=paymentgateway
RABBITMQ_VHOST=paymentgateway
