<configuration>
    <springProperty name="appName" source="spring.application.name" defaultValue="local"/>
    <property name="APP_NAME" value="${SPRING_APPLICATION_NAME:-unknown-app}"/>
    <property name="POD_NAME" value="${HOSTNAME:-unknown-pod}"/>

    <!-- JSON Appender -->
    <appender name="console-json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSSZ</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                            "app": "${appName}",
                            "pod": "${HOSTNAME:-unknown}"
                        }
                    </pattern>
                </pattern>
                <threadName>
                    <fieldName>thread</fieldName>
                </threadName>
                <logLevel>
                    <fieldName>level</fieldName>
                </logLevel>
                <loggerName>
                    <fieldName>logger</fieldName>
                </loggerName>
                <message>
                    <fieldName>message</fieldName>
                </message>
                <throwable>
                    <fieldName>exception</fieldName>
                    <rootCauseFirst>true</rootCauseFirst>
                </throwable>
            </providers>
        </encoder>
    </appender>

    <!-- Plain Text Appender -->
    <appender name="console-plain" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSZ} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="console-json"/>
        <!-- appender-ref ref="console-plain"/ -->
    </root>
</configuration>